node-red/data/.flows.json.backup
[{"id":"9067e9e1.079378","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b14e7371.1bdaa","type":"tab","label":"THP Sensors","disabled":false,"info":""},{"id":"e9af24d4.07fe38","type":"tab","label":"RPI System Status","disabled":false,"info":""},{"id":"c2082736.10b188","type":"tab","label":"Fritzstuff","disabled":false,"info":""},{"id":"c9e319c4.be3c68","type":"tab","label":"Influx Query Playground","disabled":true,"info":""},{"id":"55ce06bc.f4ad08","type":"tab","label":"File2Influx","disabled":true,"info":""},{"id":"ce5bd22.84f2f3","type":"tab","label":"Influx Monitoring","disabled":false,"info":""},{"id":"83b1b3b5.b097c","type":"tab","label":"Fan Control","disabled":false,"info":""},{"id":"84d53017.7e1ce","type":"tab","label":"Lampe Esstisch","disabled":false,"info":""},{"id":"ed71f7d4.3d7dc8","type":"tab","label":"Rollo","disabled":false,"info":""},{"id":"4d8191b0.6efbb","type":"tab","label":"Steckdose Test","disabled":false,"info":""},{"id":"6c9bd263.ae373c","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"6bdf2896.1f1868","type":"subflow","name":"Subflow 2","info":"","in":[],"out":[]},{"id":"656d6074.45795","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cb5d9d98.676c","type":"deconz-server","z":"","name":"Phoscon-GW","ip":"deconz","port":"880","apikey":"${DECONZ_API_KEY}","ws_port":"8443","secure":false,"polling":"15"},{"id":"89369653.dfafb8","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"db","name":"","usetls":false,"tls":""},{"id":"24ee18cd.e57608","type":"influxdb","z":"","hostname":"192.168.178.27","port":"8086","protocol":"http","database":"fritz","name":"","usetls":false,"tls":""},{"id":"e44b0493.436ec8","type":"fritzbox-config","z":"","name":"","host":"192.168.178.1","port":"49000","ssl":false},{"id":"5fba7f3e.de4b9","type":"influxdb","z":"","hostname":"192.168.178.27","port":"8086","protocol":"http","database":"fritz","name":"","usetls":false,"tls":""},{"id":"d47626df.398b08","type":"ui_group","z":"","name":"Lampe Esstisch","tab":"703557f8.826228","order":1,"disp":true,"width":"6","collapse":true},{"id":"703557f8.826228","type":"ui_tab","z":"","name":"Wohnzimmer","icon":"dashboard","disabled":false,"hidden":false},{"id":"51d887eb.e57168","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"77c440ac.db3c6","type":"ui_group","z":"","name":"Rolläden","tab":"cf63edd3.2f0f1","order":2,"disp":true,"width":"6","collapse":false},{"id":"cf63edd3.2f0f1","type":"ui_tab","z":"","name":"Schlafzimmer","icon":"dashboard","disabled":false,"hidden":false},{"id":"d16eb2d3.c118e","type":"influxdb batch","z":"b14e7371.1bdaa","influxdb":"89369653.dfafb8","precision":"ms","retentionPolicy":"","name":"","x":900,"y":860,"wires":[]},{"id":"7c9cb0c5.a7253","type":"influxdb batch","z":"55ce06bc.f4ad08","influxdb":"89369653.dfafb8","precision":"ms","retentionPolicy":"","name":"","x":970,"y":280,"wires":[]},{"id":"53ad9dfd.6be474","type":"file in","z":"55ce06bc.f4ad08","name":"","filename":"/home/pi/Documents/temp-test/log.txt","format":"lines","chunk":false,"sendError":false,"encoding":"utf8","x":350,"y":280,"wires":[["d6407d7f.19492"]]},{"id":"ea1d8d8a.6f50e","type":"debug","z":"55ce06bc.f4ad08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":160,"wires":[]},{"id":"ba14e607.8f4038","type":"inject","z":"55ce06bc.f4ad08","name":"Boing","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":130,"y":280,"wires":[[]]},{"id":"d3236b06.812dd8","type":"function","z":"55ce06bc.f4ad08","name":"thp_influx_converter","func":"if (msg.payload.hasOwnProperty(\"temperature\")) {\n  msg.payload = [\n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        temperature: msg.payload.temperature / 100.0,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    },\n  ];\n} else if (msg.payload.hasOwnProperty(\"humidity\")) {\n  msg.payload = [\n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        humidity: msg.payload.humidity / 100.0,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    },\n  ];\n} else if (msg.payload.hasOwnProperty(\"pressure\")) {\n  msg.payload = [\n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        pressure: msg.payload.pressure,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    },\n  ];\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":280,"wires":[["7c9cb0c5.a7253"]]},{"id":"d6407d7f.19492","type":"json","z":"55ce06bc.f4ad08","name":"","property":"payload","action":"","pretty":false,"x":570,"y":280,"wires":[["d3236b06.812dd8"]]},{"id":"29080b.9410d7f6","type":"catch","z":"55ce06bc.f4ad08","name":"","scope":null,"uncaught":false,"x":750,"y":160,"wires":[["ea1d8d8a.6f50e"]]},{"id":"7a0cf759.51c538","type":"influxdb in","z":"c9e319c4.be3c68","influxdb":"89369653.dfafb8","name":"","query":"SELECT \"temperature\" FROM \"thp_sensor\";","rawOutput":false,"precision":"ms","retentionPolicy":"","x":500,"y":260,"wires":[["1008fed5.4a7011"]]},{"id":"1008fed5.4a7011","type":"debug","z":"c9e319c4.be3c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":260,"wires":[]},{"id":"5a941461.c5bdbc","type":"inject","z":"c9e319c4.be3c68","name":"Boing","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":260,"wires":[["7a0cf759.51c538"]]},{"id":"7dace26e.e2ae1c","type":"catch","z":"b14e7371.1bdaa","name":"","scope":null,"uncaught":false,"x":480,"y":560,"wires":[["f8f61fbf.a4fe4"]]},{"id":"f8f61fbf.a4fe4","type":"debug","z":"b14e7371.1bdaa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":560,"wires":[]},{"id":"5413fba3.3e75c4","type":"exec","z":"e9af24d4.07fe38","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"rpi_cpu_temp","x":680,"y":320,"wires":[["db647d1.cb73c8"],[],[]]},{"id":"1816ad6a.ce2773","type":"debug","z":"e9af24d4.07fe38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":540,"wires":[]},{"id":"fdcc0d63.952f4","type":"inject","z":"e9af24d4.07fe38","name":"periodic trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":320,"wires":[["5413fba3.3e75c4","864f6367.bc702"]]},{"id":"db647d1.cb73c8","type":"function","z":"e9af24d4.07fe38","name":"cpu_temp_converter","func":"msg.payload = { cpu_temp: parseFloat(msg.payload) / 1000.0 }\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":320,"wires":[["ab9cc21d.171aa"]]},{"id":"3e7ef19c.cb072e","type":"join","z":"e9af24d4.07fe38","name":"create batch","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":750,"y":600,"wires":[["165c8e4c.11e742","1816ad6a.ce2773"]]},{"id":"165c8e4c.11e742","type":"influxdb batch","z":"e9af24d4.07fe38","influxdb":"89369653.dfafb8","precision":"ms","retentionPolicy":"","name":"","x":940,"y":600,"wires":[]},{"id":"23b2a817.fdd4f8","type":"function","z":"e9af24d4.07fe38","name":"loadavg_converter","func":"msg.payload = { cpu_load: parseFloat(msg.payload.split(' ')[0]) / 4.0 };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":400,"wires":[["ab9cc21d.171aa"]]},{"id":"864f6367.bc702","type":"exec","z":"e9af24d4.07fe38","command":"cat /proc/loadavg","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"rpi_loadavg","x":670,"y":400,"wires":[["23b2a817.fdd4f8"],[],[]]},{"id":"ab9cc21d.171aa","type":"join","z":"e9af24d4.07fe38","name":"merge parts","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1130,"y":360,"wires":[["fc7ec5a3.5e6568"]]},{"id":"fc7ec5a3.5e6568","type":"function","z":"e9af24d4.07fe38","name":"create influx measurement","func":"msg.payload = {\n    measurement: \"raspi_system_status\",\n      fields: {\n        cpu_temp: msg.payload.cpu_temp,\n        cpu_load: msg.payload.cpu_load\n      },\n      tags: {\n        location: \"raspi\",\n      },\n      timestamp: Date.now(),\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":600,"wires":[["3e7ef19c.cb072e"]]},{"id":"d3284109.c1b2b","type":"deconz-input","z":"6bdf2896.1f1868","name":"temperature","server":"cb5d9d98.676c","device":"00:15:8d:00:04:7d:ee:64-01-0402","device_name":"Multi Sensor : ZHATemperature","topic":"","state":"0","output":"always","outputAtStartup":true,"x":590,"y":420,"wires":[["2b6ebaf9.953416"],[]]},{"id":"bd2e0925.340618","type":"deconz-input","z":"6bdf2896.1f1868","name":"humidity","server":"cb5d9d98.676c","device":"00:15:8d:00:04:7d:ee:64-01-0405","device_name":"Multi Sensor : ZHAHumidity","topic":"","state":"0","output":"always","outputAtStartup":true,"x":580,"y":480,"wires":[["2b6ebaf9.953416"],[]]},{"id":"ea20c908.634b48","type":"deconz-input","z":"6bdf2896.1f1868","name":"pressure","server":"cb5d9d98.676c","device":"00:15:8d:00:04:7d:ee:64-01-0403","device_name":"Multi Sensor : ZHAPressure","topic":"","state":"0","output":"always","outputAtStartup":true,"x":580,"y":540,"wires":[["2b6ebaf9.953416"],[]]},{"id":"2b6ebaf9.953416","type":"function","z":"6bdf2896.1f1868","name":"thp_influx_converter2","func":"const location = env.get(\"SENSOR_LOCATION\");\n\nif (msg.payload.hasOwnProperty(\"temperature\")) {\n  msg.payload = \n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        temperature: msg.payload.temperature / 100.0,\n      },\n      tags: {\n        location: location,\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    };\n} else if (msg.payload.hasOwnProperty(\"humidity\")) {\n  msg.payload = \n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        humidity: msg.payload.humidity / 100.0,\n      },\n      tags: {\n        location: location,\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    };\n} else if (msg.payload.hasOwnProperty(\"pressure\")) {\n  msg.payload = \n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        pressure: msg.payload.pressure,\n      },\n      tags: {\n        location: location,\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    };\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":480,"wires":[["dbfaf435.8dd3d8"]]},{"id":"dbfaf435.8dd3d8","type":"link out","z":"6bdf2896.1f1868","name":"","links":[],"x":995,"y":480,"wires":[]},{"id":"c22e7265.b25b3","type":"function-npm","z":"b14e7371.1bdaa","name":"get deconz sensors","func":"var fetch = require('cross-fetch');\n\nconst API_KEY = env.get(\"DECONZ_API_KEY\");\nconst HOST = env.get(\"DECONZ_HOST\") || \"deconz\";\nconst PORT = env.get(\"DECONZ_PORT\") || \"880\";\nconst url = `http://${HOST}:${PORT}/api/${API_KEY}/sensors/`;\n\nconsole.log(url);\n\nfetch(url)\n  .then((res) => {\n    if (res.status >= 400) {\n      throw new Error(\"Bad response from server\");\n    }\n    res.json().then((data) => {\n        msg.payload = data;\n        node.send(msg);\n        node.done();\n    })\n  })\n  .then((user) => {\n    node.done();\n  })\n  .catch((err) => {\n    node.done();\n  });\n","outputs":1,"noerr":0,"x":410,"y":880,"wires":[["fe9ec5ce.95ffb8","e9a6f0c3.d538a"]]},{"id":"fe9ec5ce.95ffb8","type":"function","z":"b14e7371.1bdaa","name":"transform with allocation","func":"let sensors = flow.get(\"user.sensors\");\nlet allocations = flow.get(\"user.allocation\");\n\n// Get unallocated sensors so we can add them easily at some point\nlet allocated_unique_ids = allocations.sensors.map((sensor) => {\n  let sensor_properties = sensors.find((s) => s.id === sensor.typeid);\n  let sensor_full_ids = sensor_properties.data.map((datum) => {\n    return sensor.uniqueid + datum.uniqueid_suffix;\n  });\n  return sensor_full_ids;\n});\n\nlet flattened_allocated_unique_ids = [].concat.apply([], allocated_unique_ids);\n\nlet unallocated = Object.values(msg.payload).filter(\n  (o) => !flattened_allocated_unique_ids.includes(o.uniqueid)\n);\n\n// Get allocated sensors that aren't in the response\nlet allocated_not_found = flattened_allocated_unique_ids.filter(\n  (o) => {\n      !Object.values(msg.payload).map((op) => op.uniqueid).includes(o)\n  }\n);\n\nlet unallocated_msg =\n  unallocated.length !== 0\n    ? {\n        topic: \"unallocated_sensors\",\n        payload: { \n            unallocated: unallocated,\n            allocated_not_found: allocated_not_found\n            \n        }\n    }\n    : null;\n\n\nmsg.payload = allocations.sensors.map((sensor) => {\n  let sensor_properties = sensors.find((s) => s.id === sensor.typeid);\n\n  var sensor_data = {\n    measurement: sensor.name,\n    fields: {},\n    tags: {\n      location: sensor.location,\n      uniqueid: sensor.uniqueid\n    },\n    timestamp: Date.now(),\n  };\n\n  sensor_properties.data.forEach((datum) => {\n    let full_id = sensor.uniqueid + datum.uniqueid_suffix;\n    let data_point = Object.values(msg.payload).find(\n      (o) => o.uniqueid === full_id\n    );\n    sensor_data.fields[datum.name] = datum.hasOwnProperty(\"factor\")\n      ? data_point.state[datum.property_name] * datum.factor\n      : data_point.state[datum.property_name];\n  });\n\n  return sensor_data;\n});\n\nreturn [msg, unallocated_msg];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":880,"wires":[["d16eb2d3.c118e","b0aadc90.bc654"],["fcac75c.a548588"]]},{"id":"cc07c9e1.a2b888","type":"file in","z":"b14e7371.1bdaa","name":"get sensor file","filename":"/data/user/sensors.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":400,"y":680,"wires":[["772bbdc6.274524","cd5cadad.7c7a2"]]},{"id":"be0a9719.68f9f8","type":"file in","z":"b14e7371.1bdaa","name":"get allocation file","filename":"/data/user/allocation.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":410,"y":740,"wires":[["4775d6a7.f2a4d8"]]},{"id":"f627a308.5f621","type":"inject","z":"b14e7371.1bdaa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":190,"y":680,"wires":[["cc07c9e1.a2b888","be0a9719.68f9f8"]]},{"id":"63c36c58.793564","type":"trigger","z":"b14e7371.1bdaa","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":880,"wires":[["c22e7265.b25b3"]]},{"id":"772bbdc6.274524","type":"json","z":"b14e7371.1bdaa","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":680,"wires":[["ea26ebb5.070ae8"]]},{"id":"4775d6a7.f2a4d8","type":"json","z":"b14e7371.1bdaa","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":740,"wires":[["ea26ebb5.070ae8"]]},{"id":"ea26ebb5.070ae8","type":"join","z":"b14e7371.1bdaa","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":680,"wires":[["12bac380.c0972d"]]},{"id":"12bac380.c0972d","type":"change","z":"b14e7371.1bdaa","name":"","rules":[{"t":"set","p":"user","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":680,"wires":[["63c36c58.793564"]]},{"id":"b0aadc90.bc654","type":"debug","z":"b14e7371.1bdaa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":800,"wires":[]},{"id":"fcac75c.a548588","type":"debug","z":"b14e7371.1bdaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":920,"wires":[]},{"id":"37280311.5966cc","type":"fritzbox-in","z":"c2082736.10b188","device":"e44b0493.436ec8","name":"","service":"urn:schemas-upnp-org:service:WANCommonInterfaceConfig:1","action":"GetAddonInfos","arguments":"{}","x":370,"y":780,"wires":[["a66f8fe4.c1b57"]]},{"id":"9e159b4e.507158","type":"inject","z":"c2082736.10b188","name":"","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":780,"wires":[["37280311.5966cc"]]},{"id":"e5348298.2d687","type":"debug","z":"c2082736.10b188","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":720,"wires":[]},{"id":"6be06622.16a448","type":"function","z":"c2082736.10b188","name":"","func":"var LastBytesReceived=context.get('LastBytesReceived') || 0;\nvar DownCalc_value=context.get('DownCalc_value') || 0;\nvar BytesReceived=context.get('BytesReceived') || msg.payload.NewX_AVM_DE_TotalBytesReceived64;\n\nvar LastBytesSent=context.get('LastBytesSent') || 0;\nvar UpCalc_value=context.get('UpCalc_value') || 0;\nvar BytesSent=context.get('BytesSent') || msg.payload.NewX_AVM_DE_TotalBytesSent64;\n\nif (LastBytesReceived === 0) {\n    DownCalc_value = 0\n} else {\n    DownCalc_value = (BytesReceived - LastBytesReceived)/125000/5\n}\n\nif (LastBytesSent === 0) {\n    UpCalc_value = 0\n} else {\n    UpCalc_value = (BytesSent - LastBytesSent)/125000/5\n}\n\n\nmsg.payload = [\n{\n    measurment: \"received\",\n    fields: {\n        BytesReceived: msg.payload.NewX_AVM_DE_TotalBytesReceived64 /1000.0,\n        DownCalc: DownCalc_value,\n        DownRate: msg.payload.NewByteReceiveRate / 125000,\n    },\n    tags:{location: \"bla\"},\n    timestamp: new Date()\n},\n\n{\n    measurment: \"sent\",\n    fields: {\n       BytesSent: msg.payload.NewX_AVM_DE_TotalBytesSent64 /1000.0,\n       UpCalc: UpCalc_value,\n       UpRate: msg.payload.NewByteSendRate / 125000,\n    },\n    tags: {location: \"bla\"},\n    timestamp: new Date()\n},\n\n\n];\n\ncontext.set('LastBytesReceived', BytesReceived)\ncontext.set('LastBytesSent', BytesSent)\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1000,"wires":[[]]},{"id":"3fbbd163.9f297e","type":"influxdb batch","z":"c2082736.10b188","influxdb":"89369653.dfafb8","precision":"ms","retentionPolicy":"","name":"","x":760,"y":780,"wires":[]},{"id":"a66f8fe4.c1b57","type":"function","z":"c2082736.10b188","name":"","func":"msg.payload = [{\n  measurement: \"internet_rate\",\n  fields: {\n    up: parseInt(msg.payload.NewByteSendRate),\n    down: parseInt(msg.payload.NewByteReceiveRate),\n  },\n  tags: {\n    location: \"fritz.box\",\n  },\n  timestamp: Date.now(),\n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":780,"wires":[["e5348298.2d687","3fbbd163.9f297e"]]},{"id":"f6f912de.63082","type":"catch","z":"c2082736.10b188","name":"","scope":null,"uncaught":false,"x":460,"y":620,"wires":[["4ef5963d.775148"]]},{"id":"4ef5963d.775148","type":"debug","z":"c2082736.10b188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":620,"wires":[]},{"id":"bc7a7409.30df78","type":"exec","z":"ce5bd22.84f2f3","command":"du -sh /var/lib/influxdb/data/db","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get DB size on disk","x":390,"y":380,"wires":[["5edd3d85.83efb4"],[],[]]},{"id":"44a08d6d.198bd4","type":"inject","z":"ce5bd22.84f2f3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":380,"wires":[[]]},{"id":"decbe84c.440eb8","type":"function","z":"ce5bd22.84f2f3","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":380,"wires":[[]]},{"id":"5edd3d85.83efb4","type":"debug","z":"ce5bd22.84f2f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":300,"wires":[]},{"id":"452576af.7efea8","type":"influxdb batch","z":"ce5bd22.84f2f3","influxdb":"89369653.dfafb8","precision":"ms","retentionPolicy":"","name":"","x":840,"y":380,"wires":[]},{"id":"cd5cadad.7c7a2","type":"debug","z":"b14e7371.1bdaa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":600,"wires":[]},{"id":"e9a6f0c3.d538a","type":"debug","z":"b14e7371.1bdaa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":980,"wires":[]},{"id":"d9ee5ffa.4e334","type":"inject","z":"83b1b3b5.b097c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":390,"y":320,"wires":[["19f383db.d17bcc"]]},{"id":"a2f38925.d38888","type":"catch","z":"83b1b3b5.b097c","name":"","scope":null,"uncaught":false,"x":350,"y":220,"wires":[["1989aac6.0ef9c5"]]},{"id":"1989aac6.0ef9c5","type":"debug","z":"83b1b3b5.b097c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":220,"wires":[]},{"id":"83a1a272.3416b","type":"shelly-dimmer","z":"84d53017.7e1ce","hostname":"192.168.178.49","description":"Dimmer Esstisch","x":510,"y":400,"wires":[["f8aff54a.c1d8f8"]]},{"id":"bcee4c4d.cf254","type":"ui_switch","z":"84d53017.7e1ce","name":"","label":"","tooltip":"","group":"d47626df.398b08","order":1,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1170,"y":380,"wires":[["cc81b825.79d728"]]},{"id":"4d41c0e4.cf20e","type":"ui_slider","z":"84d53017.7e1ce","name":"","label":"","tooltip":"","group":"d47626df.398b08","order":2,"width":"5","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":1170,"y":420,"wires":[["f82f203b.fe15d"]]},{"id":"20ab6fa2.e88c2","type":"inject","z":"84d53017.7e1ce","name":"get dimmer state trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.25","crontab":"","once":false,"onceDelay":0.1,"topic":"trigger","payload":"","payloadType":"date","x":830,"y":580,"wires":[["c29bb79.7106548"]]},{"id":"6bf2300c.c5613","type":"function","z":"84d53017.7e1ce","name":"dimmer->brightness","func":"msg.payload = msg.payload[0].brightness;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":420,"wires":[["4d41c0e4.cf20e"]]},{"id":"74a28880.834238","type":"function","z":"84d53017.7e1ce","name":"dimmer->ison","func":"msg.payload = msg.payload[0].ison\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":380,"wires":[["bcee4c4d.cf254"]]},{"id":"452dccb5.b5c914","type":"function","z":"84d53017.7e1ce","name":"rate limit","func":"context.data = context.data || {};\n\nswitch(msg.topic)\n{\n    case \"sample\":\n        context.data = msg.payload;\n        break;\n    case \"trigger\":\n        if (msg.payload)\n        {\n            msg.topic = \"ui\"\n            msg.payload = context.data;\n            return msg; \n        }\n        break;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":400,"wires":[["b18aaf54.97f3f"]]},{"id":"c3d9abe4.ea1648","type":"debug","z":"84d53017.7e1ce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":300,"wires":[]},{"id":"260ddb42.cdf0d4","type":"rbe","z":"84d53017.7e1ce","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":790,"y":400,"wires":[["74a28880.834238","6bf2300c.c5613","c3d9abe4.ea1648"]]},{"id":"f82f203b.fe15d","type":"function","z":"84d53017.7e1ce","name":"slide trg flt","func":"// Don't send anything if this was just a regular update\nif (msg.topic == \"trigger\") return;\n\nmsg.topic = \"sample\";\nmsg.payload = {\n    light: 0,\n    brightness: msg.payload,\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":420,"wires":[["d72fa5c7.2b1fc8"]]},{"id":"cc81b825.79d728","type":"function","z":"84d53017.7e1ce","name":"switch trg flt","func":"// Don't send anything if this was just a regular update\nif (msg.topic == \"trigger\") return;\n\nmsg.topic = \"sample\";\nmsg.payload = {\n    light: 0,\n    on: msg.payload,\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":380,"wires":[["d72fa5c7.2b1fc8"]]},{"id":"d72fa5c7.2b1fc8","type":"join","z":"84d53017.7e1ce","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":400,"wires":[["452dccb5.b5c914"]]},{"id":"b18aaf54.97f3f","type":"rbe","z":"84d53017.7e1ce","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1790,"y":400,"wires":[["c29bb79.7106548"]]},{"id":"a7184f83.d3d48","type":"inject","z":"84d53017.7e1ce","name":"rate limit timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"trigger","payload":"","payloadType":"date","x":1440,"y":260,"wires":[["452dccb5.b5c914"]]},{"id":"586e869e.a06bc8","type":"debug","z":"84d53017.7e1ce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":580,"wires":[]},{"id":"154a11d5.6404ae","type":"catch","z":"84d53017.7e1ce","name":"","scope":null,"uncaught":false,"x":840,"y":180,"wires":[["48b88e0b.efc71"]]},{"id":"48b88e0b.efc71","type":"debug","z":"84d53017.7e1ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":180,"wires":[]},{"id":"f8aff54a.c1d8f8","type":"function","z":"84d53017.7e1ce","name":"ui flt","func":"// Don't send anything if this was caused by a UI request\nif (msg.topic == \"ui\") return;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":400,"wires":[["260ddb42.cdf0d4"]]},{"id":"c29bb79.7106548","type":"function","z":"84d53017.7e1ce","name":"ui update timeout","func":"let ui_timeout_s = 2.0;\nlet trg_period_s = 0.25;\n\ncontext.data = context.data || 0;\n\nif (msg.topic == \"ui\") {\n    // if UI msg, don't send trigger updates\n    context.data = ui_timeout_s;\n}\nelse if(msg.topic == \"trigger\") {\n    context.data -= trg_period_s;\n    if (context.data > 0) return;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":580,"wires":[["83a1a272.3416b","586e869e.a06bc8"]]},{"id":"19f383db.d17bcc","type":"pi-gpiod out","z":"83b1b3b5.b097c","name":"","host":"172.17.0.1","port":8888,"pin":"12","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","x":580,"y":320,"wires":[]},{"id":"e0c2bfea.50588","type":"kasa","z":"4d8191b0.6efbb","name":"Steckdose 1","device":"http://192.168.178.50/","interval":60000,"eventInterval":15000,"payload":"getInfo","payloadType":"info","debug":true,"x":1060,"y":380,"wires":[["431a4975.12f978"]]},{"id":"431a4975.12f978","type":"debug","z":"4d8191b0.6efbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":380,"wires":[]},{"id":"f84eb2b7.33dcf","type":"inject","z":"4d8191b0.6efbb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":860,"y":380,"wires":[["e0c2bfea.50588"]]},{"id":"440db9ff.6e3198","type":"ui_button","z":"ed71f7d4.3d7dc8","name":"","group":"77c440ac.db3c6","order":1,"width":"5","height":"2","passthru":false,"label":"Auf","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"roller\":0,\"go\":\"open\"}","payloadType":"json","topic":"","x":850,"y":360,"wires":[["763c38a.14f7dc8"]]},{"id":"87e03677.bee5d8","type":"ui_button","z":"ed71f7d4.3d7dc8","name":"","group":"77c440ac.db3c6","order":3,"width":"5","height":"2","passthru":false,"label":"Zu","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"roller\":0,\"go\":\"close\"}","payloadType":"json","topic":"","x":850,"y":440,"wires":[["763c38a.14f7dc8"]]},{"id":"763c38a.14f7dc8","type":"shelly-roller-shutter","z":"ed71f7d4.3d7dc8","hostname":"192.168.178.51","description":"","x":1080,"y":360,"wires":[["71f883f.d769b7c","3399a3e8.fec47c"]]},{"id":"c0e32c81.004f4","type":"ui_button","z":"ed71f7d4.3d7dc8","name":"","group":"77c440ac.db3c6","order":2,"width":"5","height":"1","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"roller\":0,\"go\":\"stop\"}","payloadType":"json","topic":"","x":850,"y":400,"wires":[["763c38a.14f7dc8"]]},{"id":"3399a3e8.fec47c","type":"debug","z":"ed71f7d4.3d7dc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":320,"wires":[]},{"id":"9b07c2d1.5f605","type":"inject","z":"ed71f7d4.3d7dc8","name":"","props":[],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":850,"y":320,"wires":[["763c38a.14f7dc8"]]},{"id":"83770258.4ef7","type":"ui_slider","z":"ed71f7d4.3d7dc8","name":"","label":"Öffnung","tooltip":"","group":"77c440ac.db3c6","order":4,"width":"1","height":"5","passthru":true,"outs":"end","topic":"ui","min":0,"max":"100","step":1,"x":1480,"y":360,"wires":[["ffc5f325.fdebf"]]},{"id":"71f883f.d769b7c","type":"function","z":"ed71f7d4.3d7dc8","name":"extract_position","func":"msg.payload = msg.payload[0].current_pos\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":360,"wires":[["83770258.4ef7"]]},{"id":"ffc5f325.fdebf","type":"function","z":"ed71f7d4.3d7dc8","name":"go_to_position","func":"msg.payload = {\n    \"roller\": 0,\n    \"go\": \"to_pos\",\n    \"roller_pos\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":540,"wires":[["763c38a.14f7dc8"]]}]