node-red/data/flows.json
[{"id":"717c825.815197c","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"e4a759f7.45ada8","type":"tab","label":"RPI System Status","disabled":false,"info":""},{"id":"ebbcfe30.5fdd","type":"tab","label":"Influx Query Playground","disabled":true,"info":""},{"id":"f48e82e4.34bcd","type":"tab","label":"File2Influx","disabled":true,"info":""},{"id":"efdfee00.ef59d","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"1a46702b.a15a4","type":"deconz-server","z":"","name":"Phoscon-GW","ip":"deconz","port":"880","apikey":"${DECONZ_API_KEY}","ws_port":"8443","secure":false,"polling":"15"},{"id":"b026089d.de9658","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"sensors","name":"","usetls":false,"tls":""},{"id":"a4e7881d.6a63d8","type":"influxdb","z":"f48e82e4.34bcd","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false},{"id":"1e01b216.626ffe","type":"deconz-input","z":"717c825.815197c","name":"Temp1","server":"1a46702b.a15a4","device":"00:15:8d:00:04:7d:ee:64-01-0402","device_name":"Multi Sensor : ZHATemperature","topic":"","state":"0","output":"always","outputAtStartup":true,"x":290,"y":380,"wires":[["74d0b711.f4db28"],[]]},{"id":"1751135c.57972d","type":"debug","z":"717c825.815197c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":760,"y":360,"wires":[]},{"id":"dd8073a9.c42c2","type":"deconz-input","z":"717c825.815197c","name":"Hum1","server":"1a46702b.a15a4","device":"00:15:8d:00:04:7d:ee:64-01-0405","device_name":"Multi Sensor : ZHAHumidity","topic":"","state":"0","output":"always","outputAtStartup":true,"x":290,"y":440,"wires":[["74d0b711.f4db28"],[]]},{"id":"b5a1c2ff.2bece","type":"deconz-input","z":"717c825.815197c","name":"pres1","server":"1a46702b.a15a4","device":"00:15:8d:00:04:7d:ee:64-01-0403","device_name":"Multi Sensor : ZHAPressure","topic":"","state":"0","output":"always","outputAtStartup":true,"x":290,"y":500,"wires":[["74d0b711.f4db28"],[]]},{"id":"2364f697.6782fa","type":"influxdb batch","z":"717c825.815197c","influxdb":"b026089d.de9658","precision":"ms","retentionPolicy":"","name":"","x":930,"y":440,"wires":[]},{"id":"68c795fc.9d0e5c","type":"influxdb batch","z":"f48e82e4.34bcd","influxdb":"b026089d.de9658","precision":"ms","retentionPolicy":"","name":"","x":970,"y":280,"wires":[]},{"id":"e669055b.ae1ee8","type":"file in","z":"f48e82e4.34bcd","name":"","filename":"/home/pi/Documents/temp-test/log.txt","format":"lines","chunk":false,"sendError":false,"encoding":"utf8","x":350,"y":280,"wires":[["f407d050.50bb6"]]},{"id":"91f9ac3f.1cfe3","type":"debug","z":"f48e82e4.34bcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":160,"wires":[]},{"id":"d7f4bd40.f06ad","type":"inject","z":"f48e82e4.34bcd","name":"Boing","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":130,"y":280,"wires":[[]]},{"id":"bd1629c.acd03d8","type":"function","z":"f48e82e4.34bcd","name":"thp_influx_converter","func":"if (msg.payload.hasOwnProperty(\"temperature\")) {\n  msg.payload = [\n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        temperature: msg.payload.temperature / 100.0,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    },\n  ];\n} else if (msg.payload.hasOwnProperty(\"humidity\")) {\n  msg.payload = [\n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        humidity: msg.payload.humidity / 100.0,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    },\n  ];\n} else if (msg.payload.hasOwnProperty(\"pressure\")) {\n  msg.payload = [\n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        pressure: msg.payload.pressure,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    },\n  ];\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":280,"wires":[["68c795fc.9d0e5c"]]},{"id":"f407d050.50bb6","type":"json","z":"f48e82e4.34bcd","name":"","property":"payload","action":"","pretty":false,"x":570,"y":280,"wires":[["bd1629c.acd03d8"]]},{"id":"61ad413d.956b","type":"catch","z":"f48e82e4.34bcd","name":"","scope":null,"uncaught":false,"x":750,"y":160,"wires":[["91f9ac3f.1cfe3"]]},{"id":"bd2e3651.4cada8","type":"influxdb in","z":"ebbcfe30.5fdd","influxdb":"b026089d.de9658","name":"","query":"SELECT \"temperature\" FROM \"thp_sensor\";","rawOutput":false,"precision":"ms","retentionPolicy":"","x":500,"y":260,"wires":[["afeefc96.0984e"]]},{"id":"afeefc96.0984e","type":"debug","z":"ebbcfe30.5fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":260,"wires":[]},{"id":"4d630033.69bf4","type":"inject","z":"ebbcfe30.5fdd","name":"Boing","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":260,"wires":[["bd2e3651.4cada8"]]},{"id":"21ecf987.a0fbe6","type":"join","z":"717c825.815197c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":730,"y":440,"wires":[["2364f697.6782fa"]]},{"id":"dc9d8b60.47eba8","type":"catch","z":"717c825.815197c","name":"","scope":null,"uncaught":false,"x":580,"y":280,"wires":[["20f997bb.f03e08"]]},{"id":"20f997bb.f03e08","type":"debug","z":"717c825.815197c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":280,"wires":[]},{"id":"74d0b711.f4db28","type":"function","z":"717c825.815197c","name":"thp_influx_converter2","func":"if (msg.payload.hasOwnProperty(\"temperature\")) {\n  msg.payload = \n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        temperature: msg.payload.temperature / 100.0,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    };\n} else if (msg.payload.hasOwnProperty(\"humidity\")) {\n  msg.payload = \n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        humidity: msg.payload.humidity / 100.0,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    };\n} else if (msg.payload.hasOwnProperty(\"pressure\")) {\n  msg.payload = \n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        pressure: msg.payload.pressure,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    };\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":440,"wires":[["21ecf987.a0fbe6","1751135c.57972d"]]},{"id":"1ce5fa92.7cfa65","type":"exec","z":"e4a759f7.45ada8","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"rpi_cpu_temp","x":360,"y":420,"wires":[["813bbf32.38835"],[],[]]},{"id":"4028c450.fb52cc","type":"debug","z":"e4a759f7.45ada8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":460,"wires":[]},{"id":"59cfa80a.aba1c8","type":"inject","z":"e4a759f7.45ada8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":420,"wires":[["1ce5fa92.7cfa65","70de3c48.0601a4"]]},{"id":"813bbf32.38835","type":"function","z":"e4a759f7.45ada8","name":"cpu_temp_converter","func":"msg.payload = parseFloat(msg.payload) / 1000.0;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":420,"wires":[["4028c450.fb52cc"]]},{"id":"3b4af3c8.41c64c","type":"join","z":"e4a759f7.45ada8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":990,"y":460,"wires":[[]]},{"id":"e1eca8b7.598638","type":"influxdb batch","z":"e4a759f7.45ada8","influxdb":"b026089d.de9658","precision":"ms","retentionPolicy":"","name":"","x":1170,"y":460,"wires":[]},{"id":"a0c4d522.bb1da8","type":"function","z":"e4a759f7.45ada8","name":"loadavg_converter","func":"msg.payload = parseFloat(msg.payload.split(' ')[0]) / 4.0;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":500,"wires":[["4028c450.fb52cc"]]},{"id":"70de3c48.0601a4","type":"exec","z":"e4a759f7.45ada8","command":"cat /proc/loadavg","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"rpi_loadavg","x":350,"y":500,"wires":[["a0c4d522.bb1da8"],[],[]]}]