node-red/data/flows.json
[{"id":"717c825.815197c","type":"tab","label":"THP Sensors","disabled":false,"info":""},{"id":"e4a759f7.45ada8","type":"tab","label":"RPI System Status","disabled":false,"info":""},{"id":"ebbcfe30.5fdd","type":"tab","label":"Influx Query Playground","disabled":true,"info":""},{"id":"f48e82e4.34bcd","type":"tab","label":"File2Influx","disabled":true,"info":""},{"id":"efdfee00.ef59d","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"5c74c680.e3c5d8","type":"subflow","name":"Subflow 2","info":"","in":[],"out":[]},{"id":"1a46702b.a15a4","type":"deconz-server","z":"","name":"Phoscon-GW","ip":"deconz","port":"880","apikey":"${DECONZ_API_KEY}","ws_port":"8443","secure":false,"polling":"15"},{"id":"b026089d.de9658","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"db","name":"","usetls":false,"tls":""},{"id":"1e01b216.626ffe","type":"deconz-input","z":"717c825.815197c","name":"Temp1","server":"1a46702b.a15a4","device":"00:15:8d:00:04:7d:ee:64-01-0402","device_name":"Multi Sensor : ZHATemperature","topic":"","state":"0","output":"always","outputAtStartup":true,"x":290,"y":380,"wires":[["74d0b711.f4db28"],[]]},{"id":"1751135c.57972d","type":"debug","z":"717c825.815197c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":840,"y":980,"wires":[]},{"id":"dd8073a9.c42c2","type":"deconz-input","z":"717c825.815197c","name":"Hum1","server":"1a46702b.a15a4","device":"00:15:8d:00:04:7d:ee:64-01-0405","device_name":"Multi Sensor : ZHAHumidity","topic":"","state":"0","output":"always","outputAtStartup":true,"x":290,"y":440,"wires":[["74d0b711.f4db28"],[]]},{"id":"b5a1c2ff.2bece","type":"deconz-input","z":"717c825.815197c","name":"pres1","server":"1a46702b.a15a4","device":"00:15:8d:00:04:7d:ee:64-01-0403","device_name":"Multi Sensor : ZHAPressure","topic":"","state":"0","output":"always","outputAtStartup":true,"x":290,"y":500,"wires":[["74d0b711.f4db28"],[]]},{"id":"2364f697.6782fa","type":"influxdb batch","z":"717c825.815197c","influxdb":"b026089d.de9658","precision":"ms","retentionPolicy":"","name":"","x":900,"y":440,"wires":[]},{"id":"68c795fc.9d0e5c","type":"influxdb batch","z":"f48e82e4.34bcd","influxdb":"b026089d.de9658","precision":"ms","retentionPolicy":"","name":"","x":970,"y":280,"wires":[]},{"id":"e669055b.ae1ee8","type":"file in","z":"f48e82e4.34bcd","name":"","filename":"/home/pi/Documents/temp-test/log.txt","format":"lines","chunk":false,"sendError":false,"encoding":"utf8","x":350,"y":280,"wires":[["f407d050.50bb6"]]},{"id":"91f9ac3f.1cfe3","type":"debug","z":"f48e82e4.34bcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":160,"wires":[]},{"id":"d7f4bd40.f06ad","type":"inject","z":"f48e82e4.34bcd","name":"Boing","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":130,"y":280,"wires":[[]]},{"id":"bd1629c.acd03d8","type":"function","z":"f48e82e4.34bcd","name":"thp_influx_converter","func":"if (msg.payload.hasOwnProperty(\"temperature\")) {\n  msg.payload = [\n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        temperature: msg.payload.temperature / 100.0,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    },\n  ];\n} else if (msg.payload.hasOwnProperty(\"humidity\")) {\n  msg.payload = [\n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        humidity: msg.payload.humidity / 100.0,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    },\n  ];\n} else if (msg.payload.hasOwnProperty(\"pressure\")) {\n  msg.payload = [\n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        pressure: msg.payload.pressure,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    },\n  ];\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":280,"wires":[["68c795fc.9d0e5c"]]},{"id":"f407d050.50bb6","type":"json","z":"f48e82e4.34bcd","name":"","property":"payload","action":"","pretty":false,"x":570,"y":280,"wires":[["bd1629c.acd03d8"]]},{"id":"61ad413d.956b","type":"catch","z":"f48e82e4.34bcd","name":"","scope":null,"uncaught":false,"x":750,"y":160,"wires":[["91f9ac3f.1cfe3"]]},{"id":"bd2e3651.4cada8","type":"influxdb in","z":"ebbcfe30.5fdd","influxdb":"b026089d.de9658","name":"","query":"SELECT \"temperature\" FROM \"thp_sensor\";","rawOutput":false,"precision":"ms","retentionPolicy":"","x":500,"y":260,"wires":[["afeefc96.0984e"]]},{"id":"afeefc96.0984e","type":"debug","z":"ebbcfe30.5fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":260,"wires":[]},{"id":"4d630033.69bf4","type":"inject","z":"ebbcfe30.5fdd","name":"Boing","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":260,"wires":[["bd2e3651.4cada8"]]},{"id":"21ecf987.a0fbe6","type":"join","z":"717c825.815197c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":730,"y":440,"wires":[["2364f697.6782fa"]]},{"id":"dc9d8b60.47eba8","type":"catch","z":"717c825.815197c","name":"","scope":null,"uncaught":false,"x":580,"y":280,"wires":[["20f997bb.f03e08"]]},{"id":"20f997bb.f03e08","type":"debug","z":"717c825.815197c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":280,"wires":[]},{"id":"74d0b711.f4db28","type":"function","z":"717c825.815197c","name":"thp_influx_converter2","func":"if (msg.payload.hasOwnProperty(\"temperature\")) {\n  msg.payload = \n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        temperature: msg.payload.temperature / 100.0,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    };\n} else if (msg.payload.hasOwnProperty(\"humidity\")) {\n  msg.payload = \n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        humidity: msg.payload.humidity / 100.0,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    };\n} else if (msg.payload.hasOwnProperty(\"pressure\")) {\n  msg.payload = \n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        pressure: msg.payload.pressure,\n      },\n      tags: {\n        location: \"somewhere\",\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    };\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":440,"wires":[["21ecf987.a0fbe6"]]},{"id":"1ce5fa92.7cfa65","type":"exec","z":"e4a759f7.45ada8","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"rpi_cpu_temp","x":680,"y":320,"wires":[["813bbf32.38835"],[],[]]},{"id":"4028c450.fb52cc","type":"debug","z":"e4a759f7.45ada8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":540,"wires":[]},{"id":"59cfa80a.aba1c8","type":"inject","z":"e4a759f7.45ada8","name":"periodic trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":320,"wires":[["1ce5fa92.7cfa65","70de3c48.0601a4"]]},{"id":"813bbf32.38835","type":"function","z":"e4a759f7.45ada8","name":"cpu_temp_converter","func":"msg.payload = { cpu_temp: parseFloat(msg.payload) / 1000.0 }\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":320,"wires":[["d6a93fec.3ca2"]]},{"id":"3b4af3c8.41c64c","type":"join","z":"e4a759f7.45ada8","name":"create batch","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":750,"y":600,"wires":[["e1eca8b7.598638","4028c450.fb52cc"]]},{"id":"e1eca8b7.598638","type":"influxdb batch","z":"e4a759f7.45ada8","influxdb":"b026089d.de9658","precision":"ms","retentionPolicy":"","name":"","x":940,"y":600,"wires":[]},{"id":"a0c4d522.bb1da8","type":"function","z":"e4a759f7.45ada8","name":"loadavg_converter","func":"msg.payload = { cpu_load: parseFloat(msg.payload.split(' ')[0]) / 4.0 };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":400,"wires":[["d6a93fec.3ca2"]]},{"id":"70de3c48.0601a4","type":"exec","z":"e4a759f7.45ada8","command":"cat /proc/loadavg","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"rpi_loadavg","x":670,"y":400,"wires":[["a0c4d522.bb1da8"],[],[]]},{"id":"d6a93fec.3ca2","type":"join","z":"e4a759f7.45ada8","name":"merge parts","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1130,"y":360,"wires":[["cbd5104c.9101a"]]},{"id":"cbd5104c.9101a","type":"function","z":"e4a759f7.45ada8","name":"create influx measurement","func":"msg.payload = {\n    measurement: \"raspi_system_status\",\n      fields: {\n        cpu_temp: msg.payload.cpu_temp,\n        cpu_load: msg.payload.cpu_load\n      },\n      tags: {\n        location: \"raspi\",\n      },\n      timestamp: Date.now(),\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":600,"wires":[["3b4af3c8.41c64c"]]},{"id":"1fd52f3c.d4db31","type":"deconz-input","z":"5c74c680.e3c5d8","name":"temperature","server":"1a46702b.a15a4","device":"00:15:8d:00:04:7d:ee:64-01-0402","device_name":"Multi Sensor : ZHATemperature","topic":"","state":"0","output":"always","outputAtStartup":true,"x":590,"y":420,"wires":[["67dde154.b6687"],[]]},{"id":"737ced72.98cd24","type":"deconz-input","z":"5c74c680.e3c5d8","name":"humidity","server":"1a46702b.a15a4","device":"00:15:8d:00:04:7d:ee:64-01-0405","device_name":"Multi Sensor : ZHAHumidity","topic":"","state":"0","output":"always","outputAtStartup":true,"x":580,"y":480,"wires":[["67dde154.b6687"],[]]},{"id":"fc4784b5.2d2a68","type":"deconz-input","z":"5c74c680.e3c5d8","name":"pressure","server":"1a46702b.a15a4","device":"00:15:8d:00:04:7d:ee:64-01-0403","device_name":"Multi Sensor : ZHAPressure","topic":"","state":"0","output":"always","outputAtStartup":true,"x":580,"y":540,"wires":[["67dde154.b6687"],[]]},{"id":"67dde154.b6687","type":"function","z":"5c74c680.e3c5d8","name":"thp_influx_converter2","func":"const location = env.get(\"SENSOR_LOCATION\");\n\nif (msg.payload.hasOwnProperty(\"temperature\")) {\n  msg.payload = \n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        temperature: msg.payload.temperature / 100.0,\n      },\n      tags: {\n        location: location,\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    };\n} else if (msg.payload.hasOwnProperty(\"humidity\")) {\n  msg.payload = \n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        humidity: msg.payload.humidity / 100.0,\n      },\n      tags: {\n        location: location,\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    };\n} else if (msg.payload.hasOwnProperty(\"pressure\")) {\n  msg.payload = \n    {\n      measurement: \"thp_sensor\",\n      fields: {\n        pressure: msg.payload.pressure,\n      },\n      tags: {\n        location: location,\n      },\n      timestamp: Date.parse(msg.payload.lastupdated + \"Z\"),\n    };\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":480,"wires":[["d9917c95.2d9d7"]]},{"id":"d9917c95.2d9d7","type":"link out","z":"5c74c680.e3c5d8","name":"","links":[],"x":995,"y":480,"wires":[]},{"id":"b659251e.4eebd8","type":"function-npm","z":"717c825.815197c","name":"gte deconz sensors","func":"var fetch = require('cross-fetch');\n\nconst API_KEY = env.get(\"DECONZ_API_KEY\");\nconst HOST = env.get(\"DECONZ_HOST\") || \"deconz\";\nconst PORT = env.get(\"DECONZ_PORT\") || \"880\";\nconst url = `http://${HOST}:${PORT}/api/${API_KEY}/sensors/`;\n\nconsole.log(url);\n\nfetch(url)\n  .then((res) => {\n    if (res.status >= 400) {\n      throw new Error(\"Bad response from server\");\n    }\n    res.json().then((data) => {\n        msg.payload = data;\n        node.send(msg);\n        node.done();\n    })\n  })\n  .then((user) => {\n    node.done();\n  })\n  .catch((err) => {\n    node.done();\n  });\n","outputs":1,"noerr":0,"x":430,"y":980,"wires":[["c2cdf0ed.b47cd"]]},{"id":"c2cdf0ed.b47cd","type":"function","z":"717c825.815197c","name":"filter by uniqueid","func":"let sensors = flow.get(\"user.sensors\");\nlet allocations = flow.get(\"user.allocation\");\n\nmsg.payload = allocations.sensors.map((sensor) => {\n  let sensor_properties = sensors.find((s) => s.id === sensor.typeid);\n\n  var sensor_data = {\n    measurement: sensor.name,\n    fields: {},\n    tags: {\n      location: sensor.location,\n    },\n    timestamp: Date.now(),\n  };\n\n  sensor_properties.data.forEach((datum) => {\n    let full_id = sensor.uniqueid + datum.uniqueid_suffix;\n    let data_point = Object.values(msg.payload).find((o) => o.uniqueid === full_id);\n    sensor_data.fields[datum.name] = datum.hasOwnProperty(\"factor\")\n      ? data_point.state[datum.property_name] * datum.factor\n      : data_point.state[datum.property_name];\n  });\n\n  return sensor_data;\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":980,"wires":[["1751135c.57972d"]]},{"id":"aed162e5.80b4b","type":"file in","z":"717c825.815197c","name":"get sensor file","filename":"/data/user/sensors.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":400,"y":680,"wires":[["123774b5.71be2b"]]},{"id":"3f978eb7.bf4072","type":"file in","z":"717c825.815197c","name":"get allocation file","filename":"/data/user/allocation.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":410,"y":740,"wires":[["62789672.244c98"]]},{"id":"f600d46f.590448","type":"inject","z":"717c825.815197c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":190,"y":680,"wires":[["aed162e5.80b4b","3f978eb7.bf4072"]]},{"id":"d067d393.a510a","type":"trigger","z":"717c825.815197c","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":220,"y":980,"wires":[["b659251e.4eebd8"]]},{"id":"123774b5.71be2b","type":"json","z":"717c825.815197c","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":680,"wires":[["6741f19d.47f6b"]]},{"id":"62789672.244c98","type":"json","z":"717c825.815197c","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":740,"wires":[["6741f19d.47f6b"]]},{"id":"6741f19d.47f6b","type":"join","z":"717c825.815197c","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":680,"wires":[["8e289e3a.d8951"]]},{"id":"8e289e3a.d8951","type":"change","z":"717c825.815197c","name":"","rules":[{"t":"set","p":"user","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":680,"wires":[["d067d393.a510a"]]}]